<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.asc.asc.trd.asc.entryexitaccount.mapper.EntryExitAccountMapper">
    <resultMap id="resultMap" type="com.example.asc.asc.trd.asc.entryexitaccount.domain.EntryExitAccount">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="userId" jdbcType="INTEGER" property="userId"/>
        <result column="userAccountId" jdbcType="INTEGER" property="userAccountId"/>
        <result column="date" jdbcType="VARCHAR" property="date"/>
        <result column="money" jdbcType="INTEGER" property="money"/>
        <result column="payType" jdbcType="VARCHAR" property="payType"/>
        <result column="secPayType" jdbcType="VARCHAR" property="secPayType"/>
        <result column="subject" jdbcType="VARCHAR" property="subject"/>
        <result column="goodsDesc" jdbcType="VARCHAR" property="goodsDesc"/>
        <result column="ptnSrl" jdbcType="VARCHAR" property="ptnSrl"/>
        <result column="platSrl" jdbcType="VARCHAR" property="platSrl"/>
        <result column="orderNo" jdbcType="VARCHAR" property="orderNo"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="clientStatus" jdbcType="VARCHAR" property="clientStatus"/>
        <result column="sendToClientTimes" jdbcType="VARCHAR" property="sendToClientTimes"/>
        <result column="usage" jdbcType="VARCHAR" property="usage"/>
        <result column="reqFlg" jdbcType="VARCHAR" property="reqFlg"/>
        <result column="notificationUrl" jdbcType="VARCHAR" property="notificationUrl"/>
        <result column="servnoticeUrl" jdbcType="VARCHAR" property="servnoticeUrl"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="imageUrl" jdbcType="VARCHAR" property="imageUrl"/>
        <result column="created_at" jdbcType="CHAR" property="createdAt"/>
        <result column="updated_at" jdbcType="CHAR" property="updatedAt"/>
        <result column="deleted_at" jdbcType="CHAR" property="deletedAt"/>
    </resultMap>

    <insert id="insert">
        insert into entry_exit_account (userId,userAccountId,date,money,payType,secPayType,subject,goodsDesc,ptnSrl,platSrl,
            orderNo,status,clientStatus,sendToClientTimes,`usage`,reqFlg,notificationUrl,servnoticeUrl,url,imageUrl,created_at,updated_at)
        values(#{account.userId,jdbcType=INTEGER},#{account.userAccountId,jdbcType=INTEGER},#{account.date,jdbcType=VARCHAR},
         #{account.money,jdbcType=INTEGER},#{account.payType,jdbcType=CHAR},#{account.secPayType,jdbcType=CHAR},#{account.subject,jdbcType=CHAR},
         #{account.goodsDesc,jdbcType=CHAR},#{account.ptnSrl,jdbcType=CHAR}, #{account.platSrl,jdbcType=CHAR},#{account.orderNo,jdbcType=INTEGER},
         #{account.status,jdbcType=CHAR},#{account.clientStatus,jdbcType=CHAR},#{account.sendToClientTimes,jdbcType=CHAR},
        #{account.usage,jdbcType=CHAR},#{account.reqFlg,jdbcType=CHAR},#{account.notificationUrl,jdbcType=CHAR},#{account.servnoticeUrl,jdbcType=CHAR},
        #{account.url,jdbcType=CHAR},#{account.imageUrl,jdbcType=CHAR},now(), #{account.updatedAt,jdbcType=CHAR})
    </insert>

    <select id="findByPtnSrl" resultMap="resultMap">
         select * from entry_exit_account where ptnSrl = #{ptnSrl}
    </select>
    <select id="findByStatus" resultMap="resultMap">
         select * from entry_exit_account where status = #{status}
    </select>

    <select id="findByOrderNo" resultMap="resultMap">
        select * from entry_exit_account where orderNo = #{orderNo}
    </select>

    <update id="update" parameterType="com.example.asc.asc.trd.asc.entryexitaccount.domain.EntryExitAccount">
        UPDATE entry_exit_account
        SET status = #{account.status,jdbcType=VARCHAR},
        clientStatus = #{account.clientStatus,jdbcType=VARCHAR},
        platSrl = #{account.platSrl,jdbcType=VARCHAR},
        url = #{account.url,jdbcType=VARCHAR},
        imageUrl = #{account.imageUrl,jdbcType=VARCHAR},
        updated_at = now()
        WHERE  id = #{id}
    </update>

</mapper>