<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.asc.asc.trd.asc.applydepositaccount.mapper.ApplyDepositAccountMapper">
    <resultMap id="resultMap" type="com.example.asc.asc.trd.asc.applydepositaccount.domain.ApplyDepositAccount">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="msghd_trdt" jdbcType="VARCHAR" property="msghdTrdt"/>
        <result column="srl_ptnsrl" jdbcType="VARCHAR" property="srlPtnsrl"/>
        <result column="cltacc_subno" jdbcType="VARCHAR" property="cltaccSubno"/>
        <result column="cltacc_cltnm" jdbcType="VARCHAR" property="cltaccCltnm"/>
        <result column="bkacc_accno" jdbcType="VARCHAR" property="bkaccAccno"/>
        <result column="bkacc_accnm" jdbcType="VARCHAR" property="bkaccAccnm"/>
        <result column="amt_tamt" jdbcType="VARCHAR" property="amtTamt"/>
        <result column="amt_aclamt" jdbcType="VARCHAR" property="amtAclamt"/>
        <result column="amt_feeamt" jdbcType="VARCHAR" property="amtFeeamt"/>
        <result column="fee_rate" jdbcType="INTEGER" property="feeRate"/>
        <result column="balflag" jdbcType="VARCHAR" property="balflag"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
        <result column="srl_platsrl" jdbcType="VARCHAR" property="srlPlatsrl"/>
        <result column="usage" jdbcType="VARCHAR" property="usage"/>
        <result column="create_time" jdbcType="VARCHAR" property="createTime"/>
        <result column="modify_time" jdbcType="VARCHAR" property="modifyTime"/>
    </resultMap>
    <insert id="insert">
          insert into apply_deposit_account (id,msghd_trdt,srl_ptnsrl,cltacc_subno,cltacc_cltnm,bkacc_accno,bkacc_accnm,
                     amt_tamt,amt_aclamt,amt_feeamt,fee_rate,balflag,status,srl_platsrl,`usage`,create_time)
          values (#{id,jdbcType=DECIMAL}, #{msghdTrdt,jdbcType=CHAR},#{srlPtnsrl,jdbcType=CHAR}, #{cltaccSubno,jdbcType=CHAR},
                #{cltaccCltnm,jdbcType=CHAR},#{bkaccAccno,jdbcType=CHAR}, #{bkaccAccnm,jdbcType=CHAR},#{amtTamt,jdbcType=CHAR},
                #{amtAclamt,jdbcType=CHAR},#{amtFeeamt,jdbcType=CHAR},#{feeRate,jdbcType=INTEGER},#{balflag,jdbcType=CHAR},
                 #{status,jdbcType=CHAR},#{srlPlatsrl,jdbcType=CHAR},#{usage,jdbcType=CHAR},#{createTime,jdbcType=CHAR})
    </insert>

    <select id="queryCount" resultMap="resultMap">
          select * from apply_deposit_account where cltacc_subno = #{cltaccSubno} AND msghd_trdt = #{msghdTrdt} AND status = '成功'
    </select>
    <select id="querySrlPtnsrl" resultMap="resultMap">
         select * from apply_deposit_account where srl_ptnsrl = #{srlPtnsrl}
    </select>
    <update id="update" parameterType="com.example.asc.asc.trd.asc.applydepositaccount.domain.ApplyDepositAccount">
        UPDATE apply_deposit_account SET status = #{account.status,jdbcType=VARCHAR},modify_time = now() WHERE  id = #{id}
    </update>

    <select id="queryFlagStaus" resultMap="resultMap">
          select * from apply_deposit_account where balflag = #{balflag} AND status = #{status}
            <if test="msghdTrdt != null">
             AND msghd_trdt = #{msghdTrdt,jdbcType=CHAR}
            </if>
    </select>

</mapper>