<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.asc.asc.trd.asc.ordercapitalaccount.mapper.OrderCapitalAccountMapper">
    <resultMap id="resultMap" type="com.example.asc.asc.trd.asc.ordercapitalaccount.domain.OrderCapitalAccount">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="time" jdbcType="VARCHAR" property="time"/>
        <result column="date" jdbcType="DATE" property="date"/>
        <result column="money" jdbcType="INTEGER" property="money"/>
        <result column="ptn_srl" jdbcType="VARCHAR" property="ptnSrl"/>
        <result column="plat_srl" jdbcType="VARCHAR" property="platSrl"/>
        <result column="order_no" jdbcType="VARCHAR" property="orderNo"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="usage" jdbcType="VARCHAR" property="usage"/>
        <result column="pay_fee" jdbcType="VARCHAR" property="payFee"/>
        <result column="recive_fee" jdbcType="VARCHAR" property="reciveFee"/>
        <result column="pay_subb_no" jdbcType="VARCHAR" property="paySubbNo"/>
        <result column="pay_subb_name" jdbcType="VARCHAR" property="paySubbName"/>
        <result column="recive_subb_no" jdbcType="VARCHAR" property="reciveSubbNo"/>
        <result column="recive_subb_name" jdbcType="VARCHAR" property="reciveSubbName"/>
        <result column="created_at" jdbcType="TIMESTAMP" property="createdAt"/>
        <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt"/>
        <result column="deleted_at" jdbcType="TIMESTAMP" property="deletedAt"/>
    </resultMap>


</mapper>