<html xmlns:th="http://www.springframework.org/schema/jdbc">
<head>
    <title>支付二维码生产</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script type="text/javascript" th:src="@{/js/jquery/jquery-3.3.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery/jquery.timers-1.2.js}"></script>
    <script type='text/javascript'>

        //生成二维码
        function save() {
            var payType = $("#payType").val();
            $("#payImg").attr("src", '/pay/payUrl' + "?totalFee=" + $("#totalFee").val() + "&payType=" + payType);

            $('body').everyTime('2s', 'payStatusTimer', function () {
                $.ajax({
                    type: "POST",
                    url: '/wxPay/payStatus?outTradeNo=' + outTradeNo + "&random=" + new Date().getTime(),
                    contentType: "application/json",
                    dataType: "json",
                    async: "false",
                    success: function (json) {
                        if (json != null && json.status == 0) {
                            alert("支付成功！");
                            $('body').stopTime('payStatusTimer');
                            return false;
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert("服务器错误！状态码：" + json.status);
                        // 状态
                        console.log(json.readyState);
                        // 错误信息
                        console.log(json.statusText);
                        return false;
                    }
                })
            });
        }

    </script>
</head>
<body>
支付金额：<input id="totalFee" type="text" value="0.01"/>
<!--下拉列表框-->
支付方式:
<select name="payType">
    <option value="3">支付宝</option>
    <option value="4">微信</option>
    <option value="6">云闪付</option>
</select>

<button type="button" onclick="save();">生成二维码</button>
&nbsp;&nbsp;<img id="payImg" width="300" height="300">
</body>
</html>
